.hidden {
    color: transparent;
}

body {
    background-color: #4a4063;
    color: #fff;
    font-family: 'SF Pixelate', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}